@model IEnumerable<HeavyBoot.DAL.Entitys.HBDataTable>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="ПНУТЬ!" class="btn btn-danger"/>
}



