<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/heavyboot/WCFService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="WCFService.IService" name="BasicHttpBinding_IService" />
            <endpoint address="net.tcp://localhost:45116/WCFService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="WCFService.IService"
                name="NetTcpBinding_IService">
                <identity>
                    <userPrincipalName value="CHTYLLHU\Дмитрий" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>